html,
body {
  // background-color: #000;
  height: 100%;
  width: 100%;
}

body {
  font-size: 0;
}


.a-loader {
  align-items: center;
  background-color: clr(primary);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  p {
    color: clr(white);
    font-size: 5rem;
  }
}
