---
title: Welcome to Middleman
---

<div class="row">
  <div class="column-16 offset-8">
    <div class="a-line js-line" data-auto="true">
      <canvas class="a-line__canvas js-line-canvas"></canvas>
    </div>
  </div>
</div>
